@tailwind base;
@tailwind components;
@tailwind utilities;

#cb1 {
    accent-color: #EC53B0;
  }
  

* {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*::-webkit-scrollbar-thumb {
  background: transparent;
}


.price-colour {
  color: #DA0C81;
}
.section-container {
  max-height: 100vh; 
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.overflow-y-scroll {
  max-height: 100vh; 
}

