@tailwind base;
@tailwind components;
@tailwind utilities;

#cb1 {
    accent-color: #EC53B0;
  }
  
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.price-colour {
  color: #DA0C81;
}
.section-container {
  max-height: 100vh; /* Adjust the height as needed */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}