@tailwind base;
@tailwind components;
@tailwind utilities;

#cb1 {
    accent-color: #EC53B0;
  }
  
  .no-scroll {
    overflow: hidden;
  }

* {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*::-webkit-scrollbar-thumb {
  background: transparent;
}


.price-colour {
  color: #DA0C81;
}
.section-container {
  max-height: 100vh; 
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.overflow-y-scroll {
  max-height: 100vh; 
}


.drawer-bottom {
  grid-auto-rows: 80% max-content; /* Set the height to 80% */
  grid-template-areas: "drawer-content" "drawer-side";
  justify-items: center; /* Center the content horizontally */
}

.drawer-bottom .drawer-toggle ~ .drawer-content {
  grid-row-start: 1;
  grid-area: drawer-content;
  width: 100%; /* Set the width to 100% */
}

.drawer-bottom .drawer-toggle ~ .drawer-side {
  grid-row-start: 2;
  grid-area: drawer-side;
  align-self: end; /* Align the side panel to the bottom */
  width: 100%; /* Set the width to 100% */
}

.drawer-bottom .drawer-toggle ~ .drawer-side > *:not(.drawer-overlay) {
  transform: translateY(100%); /* Initially hide the side panel below */
}

.drawer-bottom .drawer-toggle:checked ~ .drawer-side > *:not(.drawer-overlay) {
  transform: translateY(0); /* Slide the side panel up when checked */
}

.drawer-bottom {
    display: grid;
    grid-template-areas: "drawer-content" "drawer-side";
    grid-template-rows: 1fr 80%; /* Set height to 80% */
    grid-template-columns: 100%; /* Set width to 100% */
}

.drawer-content {
    grid-area: drawer-content;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.drawer-side {
    grid-area: drawer-side;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.drawer-side .menu {
    width: 100%;
    height: 100%;
}
body.drawer-open {
  overflow: hidden;
}




/* featured  to make the button on the image*/
.product-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.product-details {
  flex: 1;
  padding: 10px;
}

.product-image {
  position: relative;
}

.product-image img {
  max-width: 100%;
  height: auto;
}

.buy-button {
  position: absolute;
  bottom: -3px;
  right: -3px;
  background-color: #FF55BB;
  color: #fff;
  border: none;
  padding: 3px 3px;
  border-radius: 100px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .buy-button {
    padding: 2px 2px; /* Adjust the padding for smaller screens */
    bottom: 0px;
    right: -3px; /* Adjust the position for smaller screens */
  }
}





